<div class="container">
  <div class="jumbotron jumbotron-fluid mt-5 text-center text-white">
    <h1 class="display-4">Latest Articles</h1>
    <p class="lead">
      Welcome to our blog where we give you the latest gists and lifestyles. It's just like
      <br />
      getting your favorite coffee in the morning.
    </p>
    <%= link_to "Sign Up!", signup_path, class: "btn btn-success btn-lg" %>
  </div>
</div>