<div id="#page-content">
  <div class="container">
    <div class="jumbotron jumbotron-fluid mt-5 text-center text-white">
      <h1 class="display-4">Latest Articles</h1>
      <p class="lead">
        Welcome to our blog where we give you the latest gists and lifestyles. It's just like
        <br />
        getting your favorite coffee in the morning.
      </p>
      <a role="button" href="#" class="btn btn-success btn-lg"> Sign Up!</a>
    </div>
  </div>
</div>

<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Sblend Digital", "https://sblend.co", class: "text-white" %></small>
  </div>
</footer>